@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #000028;
  color: #fff;
}
.navbar ul {
  list-style: none;
  display: flex;

}
.navbar ul li {
  margin: 0 10px;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;


}
.navbar .title {
  position: relative;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.title span {
  color: #0556f3;
}


.navbar li.active a,
.navbar li:hover a {
  color: #0556f3;
}

.article {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin: 20px;
  }
  
  .article h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .article .author {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
  }
  
  .article .article-image {
    width: 30%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    align-items: center;
  }
  
  .article .content {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    margin-top: 20px;
    text-align: justify;
  }
  .footer
  {
    background-color:  #000028;
    margin-top: auto;
    margin-bottom: -20px;
  }
  
  .footer ul 
  {
    list-style: none;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .footer ul li 
  {
    display: inline-block;
    padding: 0px 15px;
  }
  
  .footer ul li a 
  {
    text-decoration: none;
    color: whitesmoke;
    display: inline-block;
    padding: 3px 20px;
  }
  
  .footer ul li a:hover
  {
    color:  #0556f3;
  }
  
  
  .copy-right
  {
    text-align: center;
    padding-bottom: 30px;
    color: whitesmoke;
  }


  
  
  